.div-recherche{
    display: flex;
    grid-gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.margin-30{
    margin-top: 30px;
}

.margin-20{
    margin-top: 20px !important;
}

.margin-10{
    margin-top: 10px;
}

.div-home{
    margin-top: 50px;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.modal-content {
    /* Style de fond de la division interne */
    background-color: #fefefe !important;
    /* Marges et paddings */
    margin: 15% auto;
    padding: 20px;
    /* Style de bordure */
    border: 1px solid #888 !important;
    /* Style de largeur et d'alignement */
    width: 80% !important;
    text-align: center;
}

.modal h1 {
  /* Style des titres */
  color: #000;
  font-size: 36px;
  margin: 0 0 20px 0;
}

.modal p {
  /* Style des paragraphes */
  font-size: 18px;
  line-height: 1.5;
}

.modal form {
  /* Style des formulaires */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-profil{
    width: 250px;
    max-height: 250px;
}

.center-div{
    text-align: center;
    margin-bottom: 20px;
}

.tableau-user{
    display: flex;
    grid-gap: 45px;
}

.info-user{
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.info-user .info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.padding-button-all{
    padding-bottom: 30px;
}

.info-user-titre{
    margin-right: 10px;
    color: black; 
}
.info-user-titre h5{
    font-weight: bold;
}
.info-user-contenue{
    color: rgb(39, 39, 39);
}

.date-recherche{
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sortie-detail-tableau{
    display: flex;
    grid-gap: 30px;
    flex-direction: row;
}

.sortie-detail-tableau-col1{
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sortie-detail-tableau-col2{
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sortie-detail{
    display: flex;
}

.info-sortie-titre{
    margin-right: 10px;
    color: black; 
}

.info-sortie-titre h5{
    font-weight: bold;
}
.info-sortie-contenue{
    color: rgb(39, 39, 39);
}

.tableau-liste-sortie{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.center-middle-screen {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.info-participant-resp{
    display: none;
}

.div-liste-sortie-responsive{
    display: none;
}

.margin-right{
    margin-right: 10px ;
}