.div-recherche{
    display: flex;
    grid-gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.margin-30{
    margin-top: 30px;
}

.margin-20{
    margin-top: 20px;
}

.margin-10{
    margin-top: 10px;
}