{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} | Create a new sortie

{% endblock %}

{% block body %}

    <div class="container mt-3">
        <h1 class="d-flex justify-content-center">Créer une sortie</h1>

        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button type="submit" class="btn btn-outline-dark mt-3">Enregistrer</button>
        {{ form_end(sortieForm) }}
    </div>

{% endblock %}