{% extends 'base.html.twig' %}

{% block title %}
    Erreur 404
{% endblock %}

{% block body %}

    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="text-center"><i>Oups... Erreur 404</i></h1>

        <div class="mt-4 text-center">
            <a class="text-decoration-none fw-bold" href="{{ path('sortie_liste') }}">Retour à la page d'accueil</a>
        </div>
    </div>

{% endblock %}