{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {{ form_start(Importform) }}
    <div style="text-align: center">
        <button class="btn btn-outline-primary">Enregistrer !</button>
    </div>
        {{ form_end(Importform) }}
    </div>
{% endblock %}